/** latest tweet */

.list-tweets {
    padding-right: 10px;
    background: transparent;
    margin: 0;
    height: 305px;
    overflow-y: auto;
}

.list-tweets:after {
    display: block;
    content: "";
    clear: both;
}

.list-tweets .list-group-item {
    padding: 10px 0;
    background: transparent;
    border-left: none;
    border-right: none;
    border-color: #ddd;
    font-size: 13px;
}

.list-tweets>span:first-of-type {
    border-top: none;
}

.list-tweets>span:last-of-type {
    border-bottom: none;
}

.list-tweets .list-group-item .content-tweet {
    padding-left: 58px;
}

.list-tweets .list-group-item .content-tweet .profile-picture,
.list-tweets .list-group-item .content-tweet .profile-picture-default {
    width: 48px;
    height: 48px;
}

.list-tweets .list-group-item .content-tweet>a {
    color: #263238;
}

.list-tweets .list-group-item .content-tweet>a:hover {
    text-decoration: none;
}

.list-tweets .list-group-item .content-tweet>a:hover>strong {
    text-decoration: underline;
}

.list-tweets .list-group-item .content-tweet>a>img {
    float: left;
    margin-left: -58px;
    border-radius: 5px;
}

.list-tweets .list-group-item .content-tweet>p {
    margin-bottom: 5px;
    color: #263238;
}

.list-tweets .list-group-item .content-tweet [class^=tweet-image]:before,
.list-tweets .list-group-item .content-tweet [class^=tweet-image]:after {
    display: block;
    content: " ";
    clear: both;
}

.list-tweets .list-group-item .content-tweet .post-date {
    white-space: nowrap;
    font-size: .9em;
}

.list-tweets .list-group-item .content-tweet .source .media .fa {
    font-size: 1.2em;
    cursor: default;
}

.list-tweets .list-group-item .content-tweet .source {
    font-size: 0.9em;
    margin: 5px 0 0;
    color: #666;
}

.list-tweets .list-group-item .content-tweet .source .fa-retweet {
    color: #5C913B;
}

.list-tweets .list-group-item .content-tweet .text-muted {
    color: #666;
}

.news-detail {
    height: 200px;
    overflow: hidden;
}

.news-detail .news-detail-img {
    float: left;
    padding: 0;
     width: 40%;
    height: 180px;
   margin-right: 10px;
    overflow: hidden;
    background: #ccc no-repeat center center;
    background-size: cover;
    width:250px;
    height:250px;
}

.list-image-news {
    overflow: hidden;
    position: relative;
}

#influencer-mention-in-news {
    height: 200px;
    padding-top: 2px;
}

.panel .panel-body {
    padding: 5px 0;
}

.list-image-news .pict {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: calc(16% - 5px);
    height: 45px;
    background: #eee no-repeat center center;
    background-size: cover;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.news-detail .news-detail-img2 {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    background: #ccc no-repeat center center;
    background-size: cover;
}
.picture-detail{
    cursor: pointer;    
}
.picture-detail :hover{    
    background-color: #f5f5f5;
    color: #555;
}
