<!--<div [ngBusy]="news_picture_many_busy" id="influencer-mention-in-news" class="panel-body">-->

    <div *ngIf="items?.length > 0" class="news-detail news-detail-wrapper-5835207167829">
        <div class="news-detail-img col-md-5" [ngStyle]="{'background-image': 'url(' + image +'),url(assets/foto1.jpg)'}"></div>
        <div class="col-md-7">
            <!--list iemage yang 5 gambar-->
            <div class="list-image-news">
                <div *ngFor="let subitem of items; let i=index" (click)="onSelect(subitem)">
                    <template [ngIf]="i<12">
                        <div class="pict" [ngStyle]="{'background-image': 'url(' + subitem.image + '),url(assets/foto2.jpg)'}"></div>
                    </template>
                </div>
            </div>
            <!--picture detail ini yg ada gambar sama flashbacknya gitu detail textnya-->
            <div class="picture-detail">
                <h5 class="colored-news-title">
                    <strong>Flash Back :</strong>
                    <strong class="text-justify" [innerHtml]="title"></strong></h5>
                <p class="text-justify" [innerHtml]="content"></p>
            </div>
        </div>
    </div>
    <!--<div class="text-md-center" *ngIf="items?.length == 0">
        No Result
    </div>-->
<!--</div>-->
